/* Custom Wufoo styles */
.redesigned-theme-2018 * {
  
}

.redesigned-theme-2018 input.text {
  border-color: #fff !important;
}

.wufoo .wufoo-dropdown-control {
  border-color: #fff !important;
}

.redesigned-theme-2018 .wufoo .wufoo-file-upload.wufoo-no-file {
  border-color: #fff !important;
}