/* Custom Wufoo styles */
.redesigned-theme-2018 * {
  
}

.redesigned-theme-2018 input.text {
  border: 2px solid #fff !important;
}

.redesigned-theme-2018 input.text:focus {
  border-color: #2685c6  !important;
}

.redesigned-theme-2018 input.radio:checked+label.choice:before, .redesigned-theme-2018 input.radio:not(:checked)+label.choice:before {
  background-color: #fff !important;
}

.redesigned-theme-2018 .wufoo textarea.textarea {
  border: 2px solid #fff !important;
}
.redesigned-theme-2018 .wufoo textarea.textarea:focus {
  border-color: #2685c6  !important;
}

.redesigned-theme-2018 .wufoo .wufoo-file-upload.wufoo-no-file {
  border: 2px solid #fff !important;
}